* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background: rgba(11, 11, 34, 0.9);
  backdrop-filter: blur(87.5px);
  font-family: "Noto Sans", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  border: none;
}

input {
  border: none;
  outline: none;
}

#header {
  padding: 30px 0;
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header--logo {
  display: flex;
  align-items: center;
}
#header .header--logo h1 {
  padding-left: 10px;
  font-weight: 700;
  font-size: 24px;
  color: white;
}
#header .header--nav a {
  margin: 0 25px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}
#header .header button {
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  color: white;
}

#hero {
  padding: 90px 0;
}
#hero .hero--title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#hero .hero--title h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: #16FCD2;
}
#hero .hero--title h1 {
  text-align: center;
  padding: 20px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
}
#hero .hero--title p {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 40px;
}
#hero .hero--title__btn--left {
  width: 202px;
  height: 52px;
  background: #6016FC;
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  margin-right: 23px;
}
#hero .hero--title__btn--right {
  width: 200px;
  height: 52px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
#hero .hero--cards {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#hero .hero--cards__card {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 328px;
  height: 276px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
}
#hero .hero--cards__card a {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 3px;
  font-size: 28px;
  color: white;
  margin-left: 40px;
}
#hero .hero--cards__card h1 {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  color: white;
  margin-left: 40px;
}
#hero .hero--cards__card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 40px;
}
#hero .hero--bottom {
  margin-top: 60px;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#hero .hero--bottom h1 {
  font-size: 34px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
}
#hero .hero--bottom h2 {
  font-size: 36px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Libre Baskerville", serif;
}
#hero .hero--bottom h3 {
  font-size: 40px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Jost", sans-serif;
}
#hero .hero--bottom__micr {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .hero--bottom__micr--h6 {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#hero .hero--bottom__micr--h6 h6 {
  margin: 1px 1px;
  height: 11.8px;
  width: 12px;
  background: rgba(255, 255, 255, 0.6);
}
#hero .hero--bottom__micr h4 {
  font-size: 25px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}
#hero .hero--bottom h5 {
  font-size: 28px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
}

#work {
  padding: 150px 0;
}
#work .work {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#work .work--card__img {
  position: relative;
  display: flex;
}
#work .work--card__img--blocks {
  position: absolute;
  top: -201px;
  left: 54px;
  width: 179px;
  height: 179px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(37px);
  border-radius: 3px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
#work .work--card__img--blocks__line1 {
  margin-left: 21px;
}
#work .work--card__img--blocks__line1 h1 {
  width: 66.12px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks__line2 {
  display: flex;
  margin-left: 21px;
}
#work .work--card__img--blocks__line2 h2 {
  width: 21.56px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks__line2 h3 {
  margin: 0 15px;
  width: 48.51px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks__line2 h4 {
  width: 36.19px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks__line3 {
  display: flex;
  margin-left: 21px;
}
#work .work--card__img--blocks__line3 h2 {
  width: 21.56px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks__line3 h3 {
  margin: 0 15px;
  width: 54.83px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks__line3 h4 {
  width: 29.83px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks__line4 {
  display: flex;
  margin-left: 21px;
}
#work .work--card__img--blocks__line4 h2 {
  width: 21.56px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks__line4 h3 {
  margin: 0 15px;
  width: 35.48px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks__line4 h4 {
  width: 49.19px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks2 {
  position: absolute;
  right: -456px;
  top: -91px;
  width: 179px;
  height: 226.57px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(37px);
  border-radius: 3px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
#work .work--card__img--blocks2__line1 {
  margin-left: 21px;
}
#work .work--card__img--blocks2__line1 h1 {
  width: 66.12px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks2__line2 {
  display: flex;
  margin-left: 21px;
}
#work .work--card__img--blocks2__line2 h2 {
  width: 21.56px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks2__line2 h3 {
  margin: 0 15px;
  width: 48.51px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks2__line2 h4 {
  width: 36.19px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks2__line3 {
  display: flex;
  margin-left: 21px;
}
#work .work--card__img--blocks2__line3 h2 {
  width: 21.56px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks2__line3 h3 {
  margin: 0 15px;
  width: 54.83px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks2__line3 h4 {
  width: 29.83px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks2__line4 {
  display: flex;
  margin-left: 21px;
}
#work .work--card__img--blocks2__line4 h2 {
  width: 21.56px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks2__line4 h3 {
  margin: 0 15px;
  width: 35.48px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks2__line4 h4 {
  width: 49.19px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks3 {
  position: absolute;
  top: 69px;
  left: 48px;
  width: 179px;
  height: 151.59px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(37px);
  border-radius: 3px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
#work .work--card__img--blocks3__lines {
  margin-left: 21px;
}
#work .work--card__img--blocks3__lines h1 {
  width: 89.5px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks3__line2 {
  display: flex;
  margin-left: 21px;
}
#work .work--card__img--blocks3__line2 h2 {
  width: 21.56px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks3__line2 h3 {
  margin: 0 15px;
  width: 48.51px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks3__line2 h4 {
  width: 36.19px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks3__line3 {
  display: flex;
  margin-left: 21px;
}
#work .work--card__img--blocks3__line3 h2 {
  width: 21.56px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks3__line3 h3 {
  margin: 0 15px;
  width: 54.83px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks3__line3 h4 {
  width: 29.83px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks3__line4 {
  display: flex;
  margin-left: 21px;
}
#work .work--card__img--blocks3__line4 h2 {
  width: 21.56px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks3__line4 h3 {
  margin: 0 15px;
  width: 35.48px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--blocks3__line4 h4 {
  width: 49.19px;
  height: 12.09px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#work .work--card__img--lines {
  position: absolute;
  right: -362px;
  top: -112px;
}
#work .work--card__img--lines h6 {
  width: 145.99px;
  height: 153px;
  border-top: 6px solid #2c2c44;
  border-radius: 30px;
}
#work .work--card__img--lines__logo {
  position: absolute;
  top: -7px;
  left: 10px;
}
#work .work--card__img--lines__logo h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 35px;
  color: #6016FC;
  background: #2c2c44;
}
#work .work--card__img--lines img {
  width: 60px;
  position: absolute;
  top: 151px;
  right: 85px;
}
#work .work--title h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: #16FCD2;
}
#work .work--title h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  color: #FFFFFF;
}
#work .work--title p {
  padding-top: 28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
}

#our {
  padding: 200px 0;
}
#our .our {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#our .our--title h2 {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #16FCD2;
}
#our .our--title h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  color: #FFFFFF;
}
#our .our--title p {
  padding: 40px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
}
#our .our--title button {
  width: 200px;
  height: 52px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
#our .our--blocks__block {
  position: absolute;
  top: -75px;
  right: 81px;
  width: 505px;
  height: 324px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(37px);
  border-radius: 10px;
}
#our .our--blocks__block--line1 {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 26px;
  display: flex;
  align-items: start;
}
#our .our--blocks__block--line1 h1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FC165B;
}
#our .our--blocks__block--line1 h2 {
  margin-left: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FCA016;
}
#our .our--blocks__block--line1 h3 {
  margin-left: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #16FCA9;
}
#our .our--blocks__block--line2 {
  margin-left: 34px;
  display: flex;
  align-items: start;
}
#our .our--blocks__block--line2 h1 {
  width: 62px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line2 h2 {
  margin: 0 8px;
  width: 32px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line2 h3 {
  width: 18px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line3 {
  margin-top: 10px;
  margin-left: 34px;
  display: flex;
  align-items: start;
}
#our .our--blocks__block--line3 h1 {
  width: 13px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line3 h2 {
  margin: 0 8px;
  width: 61px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line3 h3 {
  width: 49px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line4 {
  margin-top: 10px;
  margin-left: 34px;
  display: flex;
  align-items: start;
}
#our .our--blocks__block--line4 h1 {
  width: 68px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line4 h2 {
  margin: 0 8px;
  width: 56px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line4 h3 {
  width: 76px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line4 h4 {
  margin: 0 8px;
  width: 40px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line4 h5 {
  margin-right: 8px;
  width: 50px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line4 h6 {
  width: 47px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line5 {
  margin-top: 10px;
  margin-left: 34px;
  display: flex;
  align-items: start;
}
#our .our--blocks__block--line5 h1 {
  width: 48px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line5 h2 {
  margin: 0 8px;
  width: 72px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line5 h3 {
  width: 72px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line6 {
  margin-top: 10px;
  margin-left: 34px;
  display: flex;
  align-items: start;
}
#our .our--blocks__block--line6 h1 {
  width: 15px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line6 h2 {
  margin: 0 8px;
  width: 79px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line6 h3 {
  width: 24px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line6 h4 {
  margin: 0 8px;
  width: 64px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line6 h5 {
  margin-right: 8px;
  width: 43px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block--line6 h6 {
  width: 80px;
  height: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
}
#our .our--blocks__block2 {
  position: absolute;
  top: 117px;
  right: 47px;
  width: 328px;
  height: 285px;
  background: #161629;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
#our .our--blocks__block2--input {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 15px;
}
#our .our--blocks__block2--input h1 {
  margin-left: 11px;
  display: flex;
  align-items: center;
  width: 120px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 12px;
  color: white;
}
#our .our--blocks__block2--input2 {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 15px;
}
#our .our--blocks__block2--input2 h1 {
  margin-left: 11px;
  display: flex;
  align-items: center;
  width: 120px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 12px;
  color: white;
}
#our .our--blocks__block2 p {
  margin-left: 29px;
  margin-top: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}
#our .our--blocks__block2--input3 {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 15px;
}
#our .our--blocks__block2--input3__color {
  margin-left: 11px;
  display: flex;
  align-items: center;
  width: 120px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 12px;
  color: white;
}
#our .our--blocks__block2--input3__color input {
  width: 20px;
  height: 20px;
}
#our .our--blocks__block2--input3 h2 {
  margin-left: 11px;
  display: flex;
  align-items: center;
  width: 49px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 12px;
  color: white;
}
#our .our--blocks__block2--input3 h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1px;
  font-size: 22px;
  color: white;
}
#our .our--blocks__block2--logos {
  position: absolute;
  top: 98px;
  left: -237px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
#our .our--blocks__block2--logik {
  position: absolute;
  left: 263px;
  top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 76px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
#our .our--blocks--bg {
  position: absolute;
  top: 128px;
  right: 263px;
  z-index: -399;
  box-sizing: border-box;
  width: 374px;
  height: 324px;
  opacity: 0.5;
  border: 5px dashed rgba(255, 255, 255, 0.05);
  border-radius: 5px;
}
#our .our--bottom {
  margin-top: 200px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

#projects {
  padding: 40px 0;
}
#projects .projects {
  position: relative;
}
#projects .projects h2 {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #16FCD2;
}
#projects .projects h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 80px;
}
#projects .projects--blocks {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#projects .projects--blocks__block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#projects .projects--blocks__block--card {
  height: 441px;
  width: 502px;
  background: #161629;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 30px 60px rgba(96, 22, 252, 0.03);
  border-radius: 3px;
}
#projects .projects--blocks__block--card h5 {
  margin-top: 53px;
  margin-left: 174px;
  height: 26px;
  width: 154px;
  background: #212136;
  border-radius: 100px;
}
#projects .projects--blocks__block--card h2 {
  margin-top: 14px;
  margin-left: 204px;
  height: 26px;
  width: 94px;
  background: #212136;
  border-radius: 100px;
}
#projects .projects--blocks__block--card h4 {
  margin-top: 66px;
  margin-left: 154px;
  height: 256px;
  width: 194px;
  background: rgba(44, 44, 70, 0.5);
  border-radius: 20px 20px 0 0;
}
#projects .projects--blocks__block--title h6 {
  padding-top: 40px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}
#projects .projects--blocks__block--title p {
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
#projects .projects--blocks__block--title button {
  margin-left: 100px;
  width: 120px;
  height: 40px;
  border: 2px solid #FFFFFF;
  background: transparent;
  border-radius: 19px;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
#projects .projects--crug {
  position: absolute;
  top: 0;
  left: 100px;
  width: 46.94px;
  height: 46.94px;
  border-radius: 50%;
  background: linear-gradient(180deg, #FF81A6 0%, #FC165B 100%);
  filter: blur(5px);
  transform: rotate(-34.72deg);
}
#projects .projects--crug2 {
  position: absolute;
  top: -50px;
  right: 200px;
  width: 55.09px;
  height: 55.09px;
  border-radius: 50%;
  background: linear-gradient(180deg, #66FFA3 0%, #009C3E 100%);
  filter: blur(5px);
  transform: rotate(-34.72deg);
}
#projects .projects--crug3 {
  position: absolute;
  top: 150px;
  right: 30px;
  width: 29.85px;
  height: 29.85px;
  background: #6016FC;
  filter: blur(5px);
  transform: rotate(-34.72deg);
  border-radius: 50%;
}

#need {
  padding: 100px 0;
}
#need .need {
  width: 100%;
  height: 911px;
  background: #221048;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#need .need--title {
  padding-bottom: 60px;
  text-align: center;
}
#need .need--title h5 {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #16FCD2;
}
#need .need--title h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  color: #FFFFFF;
}
#need .need--glav {
  display: flex;
}
#need .need--glav__card {
  opacity: 0.4;
  transition: 0.5s ease-in-out;
  margin: 0 20px;
  background: #3F2379;
  border-radius: 10px;
  width: 328px;
  height: 474px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#need .need--glav__card:hover {
  opacity: 1.1;
  padding-bottom: 20px;
}
#need .need--glav__card--title {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
#need .need--glav__card--title h3 {
  padding-right: 60px;
  padding-top: 35px;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
#need .need--glav__card--title__text {
  padding-bottom: 40px;
}
#need .need--glav__card--title__text p {
  opacity: 0.8;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
#need .need--glav__card--title__text h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
#need .need--glav__card--fg {
  width: 233px;
  height: 1px;
  background: rgba(255, 255, 255, 0.05);
}
#need .need--glav__card p {
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}
#need .need--glav__card button {
  transition: 0.5s ease-in-out;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
  width: 233px;
  height: 52px;
  font-weight: 600;
  font-size: 16px;
  color: #3F2379;
}
#need .need--glav__card button:hover {
  transform: scale(0.9);
  background: transparent;
  border: 2px solid #16FCD2;
  color: #FFFFFF;
}
#need .need--glav__card2 {
  transition: 0.5s ease-in-out;
  opacity: 0.4;
  margin: 0 20px;
  background: #233679;
  border-radius: 10px;
  width: 328px;
  height: 474px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#need .need--glav__card2:hover {
  padding-bottom: 20px;
  opacity: 1.1;
}
#need .need--glav__card2--title {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
#need .need--glav__card2--title h3 {
  padding-right: 60px;
  padding-top: 35px;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
#need .need--glav__card2--title__text {
  padding-bottom: 40px;
}
#need .need--glav__card2--title__text p {
  opacity: 0.8;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
#need .need--glav__card2--title__text h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
#need .need--glav__card2--fg {
  width: 233px;
  height: 1px;
  background: rgba(255, 255, 255, 0.05);
}
#need .need--glav__card2 p {
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}
#need .need--glav__card2 button {
  transition: 0.5s ease-in-out;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
  width: 233px;
  height: 52px;
  font-weight: 600;
  font-size: 16px;
  color: #233679;
}
#need .need--glav__card2 button:hover {
  transform: scale(0.9);
  background: transparent;
  border: 2px solid #16FCD2;
  color: #FFFFFF;
}
#need .need--glav__card3 {
  transition: 0.5s ease-in-out;
  opacity: 0.4;
  margin: 0 20px;
  background: #792366;
  border-radius: 10px;
  width: 328px;
  height: 474px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#need .need--glav__card3:hover {
  padding-bottom: 20px;
  opacity: 1.1;
}
#need .need--glav__card3--title {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
#need .need--glav__card3--title h3 {
  padding-right: 60px;
  padding-top: 35px;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
#need .need--glav__card3--title__text {
  padding-bottom: 40px;
}
#need .need--glav__card3--title__text p {
  opacity: 0.8;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
#need .need--glav__card3--title__text h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
#need .need--glav__card3--fg {
  width: 233px;
  height: 1px;
  background: rgba(255, 255, 255, 0.05);
}
#need .need--glav__card3 p {
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}
#need .need--glav__card3 button {
  transition: 0.5s ease-in-out;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
  width: 233px;
  height: 52px;
  font-weight: 600;
  font-size: 16px;
  color: #792366;
}
#need .need--glav__card3 button:hover {
  transform: scale(0.9);
  background: transparent;
  border: 2px solid #16FCD2;
  color: #FFFFFF;
}

#test {
  padding: 100px 0;
}
#test .test h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #16FCD2;
}
#test .test h1 {
  padding-bottom: 136px;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}
#test .test--cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#test .test--cards__card {
  margin: 0 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 447px;
  width: 360px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.05);
}
#test .test--cards__card--line {
  position: absolute;
  bottom: 270px;
  left: 195px;
}
#test .test--cards__card--line h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  background: #6016FC;
  border: 2px solid #161629;
  border-radius: 50%;
  font-size: 30px;
  color: white;
}
#test .test--cards__card h6 {
  padding-top: 24px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}
#test .test--cards__card h4 {
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
#test .test--cards__card p {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
#test .test--cards__card .swiper {
  width: 100%;
  height: 100%;
}
#test .test--cards__card .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#test .test--cards__card .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#time .time {
  position: relative;
  border-top: 2px solid rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}
#time .time h1 {
  margin: 50px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  color: #FFFFFF;
}
#time .time--buttons__btn1 {
  width: 202px;
  height: 52px;
  background: #6016FC;
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  margin-right: 23px;
}
#time .time--buttons__btn2 {
  width: 170px;
  height: 52px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
#time .time--crug {
  position: absolute;
  top: -45px;
  right: -46px;
  width: 46.94px;
  height: 46.94px;
  border-radius: 50%;
  background: linear-gradient(180deg, #FF81A6 0%, #FC165B 100%);
  filter: blur(5px);
  transform: rotate(-34.72deg);
}
#time .time--crug2 {
  position: absolute;
  left: -75px;
  bottom: -55px;
  width: 55.09px;
  height: 55.09px;
  border-radius: 50%;
  background: linear-gradient(180deg, #66FFA3 0%, #009C3E 100%);
  filter: blur(5px);
  transform: rotate(-34.72deg);
}

#footer {
  padding: 100px 0;
}
#footer .footer {
  display: flex;
  align-items: start;
}
#footer .footer--title {
  padding-right: 119px;
}
#footer .footer--title__logo {
  display: flex;
  align-items: center;
}
#footer .footer--title__logo a {
  margin-right: 15px;
  font-weight: 700;
  font-size: 29px;
  color: #FFFFFF;
}
#footer .footer--title__logo h1 {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
#footer .footer--title p {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
}
#footer .footer--nav {
  display: flex;
}
#footer .footer--nav__block {
  margin: 0 70px;
}
#footer .footer--nav__block h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: white;
  margin-bottom: 10px;
}
#footer .footer--nav__block p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin: 10px 0;
}

/*# sourceMappingURL=style.css.map */
